@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #212225;
  --secondary-color: #faf4ff;
  --violet: #6a45db;
  --dark-violet: rgb(54, 36, 108);
  --grey: #6b6b6b;
  --white: #ffffff;
}